<!DOCTYPE html>
<html>
<head>
  <title>My Chat App</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/stream-chat-css/dist/css/index.css" />
  <script src="https://cdn.jsdelivr.net/npm/stream-chat@7.2.0/dist/browser.full-bundle.min.js"></script>
</head>
<body>
  <div id="chat-container">
    <h2>Welcome {{ user.name }} to chatroom {{ channel_name }}</h2>

    <div id="channel-container"></div>
    <div id="message-input-container"></div>
  </div>

  <script>
    // Initialize the Stream Chat client
    const client = new StreamChat.getInstance('{{ stream_api_key }}');

    // Set up the user
    await client.connectUser(
        {
            id: '{{ user.id }}',
            name: '{{ user.name }}'
        },
        "CHAT_USER_TOKEN",
    );

    // Set up the channel
    const channel = client.channel('{{ stream_chat_channel_type }}', 'test',  {name: '{{ stream_chat_channel_name_prefix }}{{ channel_name }}',});
    
    // fetch the channel state, subscribe to future updates
    const state = await channel.watch();

    // Render the Channel and MessageInput components
    const channelContainer = document.getElementById('channel-container');
    const messageInputContainer = document.getElementById('message-input-container');

    const messageList = new StreamChat.MessageList({ 
      channel: channel,
      limit: 100,
    });

    const messageInput = new StreamChat.MessageInput({
      channel: channel,
      onSendMessage: function (message) {
        channel.sendMessage({
          text: message.text,
        });
      },
    });

    messageList.attachDOM(channelContainer);
    messageInput.attachDOM(messageInputContainer);
  </script>
</body>
</html>